<div class="header hide-on-mobile">
  <div class="logo">
    <a
      [href]="homeUrl"
      class="link underline"
      (click)="updateSelectedLink('home')"
      >HY</a
    >
  </div>
  <div class="links">
    <a
      [href]="homeUrl"
      class="link underline"
      [class.selected-link]="selectedLink === 'home'"
      (click)="updateSelectedLink('home')"
      >Case Studies</a
    >
    <a
      [href]="aboutUrl"
      class="link underline"
      [class.selected-link]="selectedLink === 'aboutMe'"
      (click)="updateSelectedLink('aboutMe')"
      >About Me</a
    >
    <a
      [href]="'../../assets/Hadas Yosef CV.pdf'"
      target="_blank"
      class="link underline"
      [class.selected-link]="selectedLink === 'resume'"
      >CV</a
    >
  </div>
</div>

<div class="header-mobile show-on-mobile">
  <img class="menu-btn" (click)="toggleMenu()" />
  <div class="menu" [ngClass]="_toggleMenu ? 'show' : 'hide'">
    <img
      class="close"
      (click)="toggleMenu()"
      src="../../assets/icons/close.svg"
    />
    <div class="menu-position">
      <div class="contact">
        <app-footer></app-footer>
      </div>
      <a
        [href]="homeUrl"
        class="link underline"
        [class.selected-link]="selectedLink === 'home'"
        (click)="updateSelectedLink('home')"
        >Case Studies</a
      >
      <a
        [href]="aboutUrl"
        class="link underline"
        [class.selected-link]="selectedLink === 'aboutMe'"
        (click)="updateSelectedLink('aboutMe')"
        >About Me</a
      >
      <a
        [href]="'../../assets/Hadas Yosef CV.pdf'"
        target="_blank"
        class="link underline"
        [class.selected-link]="selectedLink === 'resume'"
        >CV</a
      >
    </div>
  </div>
</div>
