<div class="header">
  <div class="logo">
    <a
      [href]="homeUrl"
      class="link underline"
      (click)="updateSelectedLink('home')"
      >HY</a
    >
  </div>
  <div class="links">
    <a
      [href]="homeUrl"
      class="link underline"
      [class.selected-link]="selectedLink === 'home'"
      (click)="updateSelectedLink('home')"
      >Home</a
    >
    <a
      [href]="aboutUrl"
      class="link underline"
      [class.selected-link]="selectedLink === 'aboutMe'"
      (click)="updateSelectedLink('aboutMe')"
      >About Me</a
    >
    <span
      [class.selected-link]="selectedLink === 'resume'"
      (click)="updateSelectedLink('resume')"
      >Resume</span
    >
  </div>
</div>
