<div>
  <img src="../../assets/threats/home.svg" />

  <div>
    <div class="paragraph">
      Overview
      <span>
        This project was done as part of an operational command and control
        system used by the Israeli Navy. In order to protect classified navy
        information, some details have been altered in this case study.
      </span>
    </div>
    <div class="paragraph">
      The challenge
      <span>
        Each position holder on a ship has a different responsibility in a
        threat situation. My goal was to improve how Navy ships access and
        analyze potential threats While addressing each user’s needs.
      </span>
    </div>
  </div>

  <div>
    The story goes like this...
    <div class="story">
      <div class="paragraph">
        <img src="../../assets/threats/story1.svg" />
        <span>Oh no, There's a missile attack on the ship.</span>
      </div>
      <div class="paragraph">
        <img src="../../assets/threats/story2.svg" />
        <span
          >The controller's job is to group the same entities in the map, to
          have a clear view.</span
        >
      </div>
      <div class="paragraph">
        <img src="../../assets/threats/story3.svg" />
        <span
          >The controller groups again and again and again and again...</span
        >
      </div>
      <div class="paragraph">
        <img src="../../assets/threats/story4.svg" />
        <span
          >Now that the map is clear, other position holders can intercept the
          threat.</span
        >
      </div>
    </div>
  </div>

  <div>
    <div class="paragraph">
      Research
      <span>
        To understand the navy's users needs, I visited a ship and conducted
        interviews with each relevant position holder. My goals were to
        understand the surrounding environment of each position holder and their
        JTBD so that I could accommodate their different needs while making good
        use of the their desk space.
      </span>
      <span> Some of the questions I asked were: </span>
      <span>Which actions are taken in a threat situation?</span>
      <span>Which data is crucial to have?</span>
      <span>What difficulties are there in the process?</span>
    </div>
    <div>
      Personas
      <span
        >Based on my research, I mapped 3 types of users, each one holds a
        different role in the situation.</span
      >
      <div class="story">
        <mat-card>
          <mat-card-title
            >Defence controller <img src="../../assets/threats/sergeant.svg"
          /></mat-card-title>
          <mat-card-content>
            <span>
              Responsible for alerting about potential threats and organizing
              the targets.
            </span>
            <span> Needs </span>
            <span>
              Fast tools to perform quickly with a focus on map interaction.
            </span>
            <span> Pain Point </span>
            <span>
              The map area can be difficult to navigate and use when it's
              crowded.
            </span>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title
            >Defence officer <img src="../../assets/threats/lieutenant.svg"
          /></mat-card-title>
          <mat-card-content>
            <span>Needs</span>
            <span
              >Fast scanning of data: They need a single source that
              concentrates all relevant information.</span
            >
            <span>Pain Point</span>
            <span
              >Inconvenient consumption of data: the information is scattered in
              the map and not concentrated in 1 place.</span
            >
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title
            >Commanding officer <img src="../../assets/threats/captain.svg"
          /></mat-card-title>
          <mat-card-content>
            <span>Needs</span>
            <span>Similar to defence officers.</span>
            <span>Pain Point</span>
            <span>Similar to defence officers.</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div>
    Wireframing The Solutions
    <span>
      In order to optimize information concentration, bring scanning speeds up,
      and reduce human error, I designed 2 solutions following these key
      principles:
    </span>
    <div class="story">
      <span>Make actions as quick as possible</span>
      <span>Maintain contact with the map</span>
      <span>The side panel can’t hide the map</span>
    </div>
    <div class="story">
      <img src="../../assets/threats/wireframe1.svg" />
      <img src="../../assets/threats/wireframe2.svg" />
    </div>
  </div>

  <div class="story">
    <div class="paragraph">
      The Grouping Panel
      <span>The problems I addressed were:</span>
      <span
        >Hard to group from the map: A controller has a difficult job when
        threats are close together.</span
      >
      <span
        >Manual grouping: This is the main task the controller has to do very
        quickly, and the current process takes 30 - 50 seconds.</span
      >
      <span>The solutions:</span>
      <span
        >Minimizing the map: Once the side panel opens, the map narrows down so
        that no content can be hidden.</span
      >
      <span>Grouping Panel:</span>
      <span
        >Suggestions - They save the controller time. Grouping from the panel
        takes 3-10 seconds.</span
      >
      <span
        >Alerts - Same as displayed in the dashboard, giving the controller
        access to everything they need in one place.</span
      >
    </div>
    <img src="../../assets/threats/grouping-panel.svg" />
  </div>

  <div class="story">
    <img src="../../assets/threats/dashboard.svg" />
    <div class="paragraph">
      The Dashboard
      <span>The problems I addressed were:</span>
      <span
        >Minimal area: The threat list area wasn’t large which made users have
        to constantly scroll to view all the threats on the list.</span
      >
      <span
        >Missing alerts: The old threat panel showed alerts on top of a threat,
        and since most of the time they had to scroll to view the entire threat
        list, incoming alerts were easy to miss.</span
      >
      <span>The solutions:</span>
      <span
        >Dashboard: I used a separate screen from the main system to display the
        dashboard. Now the users can view the map and their data both at the
        same time.</span
      >
      <span
        >Alert Area: The dashboard was divided into 4 sections. The right one
        provides space to alert users, and offer them choices about a given
        threat.</span
      >
    </div>
  </div>

  <div>
    Usability Testing
    <mat-card>
      <mat-card-title>Goal</mat-card-title>
      <mat-card-content
        >To evaluate the usability of the features and measure how well they
        help users fulfill their role in a threat situation.</mat-card-content
      >
    </mat-card>
    <mat-card>
      <mat-card-title>Method</mat-card-title>
      <mat-card-content
        >5 ship defense controllers were tested, whose performance was measured
        based on their completion times.</mat-card-content
      >
    </mat-card>
    <mat-card>
      <mat-card-title>Results</mat-card-title>
      <mat-card-content
        >Overall, the usability testing results were positive, with only one
        minor usability issue detected: Participants had difficulty
        distinguishing suggested groups from existing groups. The issue was
        fixed by providing different colors and visual
        indicators.</mat-card-content
      >
    </mat-card>
  </div>

  <img src="../../assets/threats/overview.svg" />
</div>

<app-footer></app-footer>
