@import "../../styles.scss";

.threats {
  display: flex;
  flex-direction: column;
  gap: 8.25rem;
  background-color: var(--dark-background-first);
  color: var(--dark-text-color);

  ::ng-deep.link {
    color: var(--dark-text-color);
  }

  .title {
    color: var(--dark-title-color);
  }

  .header {
    @extend .paragraph-gap-0;
    @extend .full-width;

    .header {
      position: absolute;
    }

    .image {
      width: 100%;
    }
  }

  .overview {
    @extend .section;

    gap: 3rem;
  }

  .user-story {
    @extend .section;
    @extend .paragraph-gap-0;

    padding: 5rem 0;
    background: var(--dark-background-second);
    align-items: center;
    width: 100%;

    .stories {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 4.875rem 10rem;
      max-width: -webkit-fill-available;

      * {
        flex: 1;
        width: 100%;
        height: fit-content;
        line-height: 160%;
      }

      ::ng-deep svg {
        border-radius: 0.5rem;
        vertical-align: top;
      }
    }
  }

  .research-personas {
    @extend .section;
    gap: 8.25rem;

    .research {
      .paragraph {
        @extend .paragraph-gap-2;

        align-self: flex-start;

        .questions {
          @extend .text-bold;

          color: var(--dark-title-color);
        }

        .question {
          @include left-border(--dark-blue, 0.5rem);
        }
      }
    }

    .personas-section {
      @extend .section;

      gap: 1.5rem;

      .personas {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        .persona {
          @extend .paragraph-gap-2;

          background-color: var(--dark-card-background);
          border: 1px var(--dark-border) solid;
          border-radius: 0.5rem;
          padding: 1.5rem;

          * {
            line-height: 160%;
          }

          .header {
            flex-direction: row;
            gap: 1rem;

            .title {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }

          .content::after {
            content: "";
            display: flex;
            height: 1.25rem;
            visibility: visible;
          }

          .chip-title-blue {
            @include chip(--dark-blue);
          }

          .chip-title-red {
            @include chip(--dark-red);
          }
        }
      }
    }
  }

  .wireframe {
    @extend .section;

    gap: 5rem;
    background-color: var(--dark-background-second);
    padding: 5rem 0;
    text-align: center;
    width: 100%;

    .content {
      @extend .paragraph-gap-3;

      .header {
        @extend .paragraph-gap-2;

        font-size: 1rem;
        font-weight: 400;
      }

      .principles {
        display: flex;
        align-self: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        .principle {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          &::after {
            content: "";
            background: var(--text-color);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
          }
        }
      }
    }

    .images {
      display: flex;
      gap: 2rem;
      align-self: center;

      * {
        width: 100%;
      }
    }
  }

  .problem-solutions {
    @extend .section;

    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    width: 100%;

    .show-mobile-header {
      display: none;
    }

    .mobile-order {
      display: flex;
      gap: 4rem;

      .para {
        @extend .paragraph-gap-2;

        gap: 1.5rem;
        padding-left: 1.25rem;
        direction: ltr;

        * {
          line-height: 160%;
        }

        .para {
          @extend .paragraph-gap-2;

          width: max-content;
          gap: 1rem;

          .colored-text {
            @extend .text-bold;

            color: var(--dark-title-color);
          }

          ul {
            @extend .paragraph-gap-1;

            margin: 0rem;
          }
        }

        .problem {
          @include left-border(--dark-red);

          color: var(--dark-title-color);
        }

        .solution {
          @include left-border(--dark-green);

          align-self: flex-start;
          color: var(--dark-title-color);
        }
      }
    }

    .images {
      display: flex;
      gap: 2.5rem;

      * {
        width: 100%;
      }
    }
  }

  .dashboard {
    direction: rtl;
    padding: 8.25rem 0;
    background-color: var(--dark-background-second);
  }

  .usability-testing {
    @extend .section;
    @extend .paragraph-gap-3;

    width: fit-content;

    .cards {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
    }

    .card {
      @extend .paragraph-gap-2;

      background-color: var(--dark-card-background);
      border: 1px var(--dark-border) solid;
      border-radius: 0.5rem;
      padding: 1.5rem;

      .chip-title {
        @include chip(--dark-blue);

        align-items: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .threats {
    gap: 4rem;

    ::ng-deep.link {
      color: var(--text-color);
    }

    ::ng-deep.menu-btn,
    ::ng-deep.close {
      display: flex;
      padding: 1.5rem;
    }

    .research-personas {
      gap: 4rem;
    }

    .wireframe {
      width: auto;
      padding: 2.5rem 1.5rem;
      text-align: left;
      gap: 2.5rem;

      .principles {
        .principle {
          direction: rtl;
        }

        :last-child {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          direction: rtl;

          &::after {
            content: "";
            background: var(--text-color);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
          }
        }
      }

      .images {
        flex-wrap: wrap;
      }
    }

    .problem-solutions {
      padding: 0 1.5rem;
      width: auto;
      flex-direction: column;
      gap: 2.5rem;

      .show-mobile-header {
        display: flex;
      }

      .hide-mobile-header {
        display: none;
      }

      .mobile-order {
        flex-direction: column-reverse;
        gap: 2.5rem;

        .para {
          padding-left: 0;

          .para {
            width: auto;
          }
        }
      }
    }

    .dashboard {
      padding: 2.5rem 1.5rem;
      flex-direction: column;
      direction: ltr;
    }
  }
}
