@import "../../styles.scss";

.threats {
  background-color: var(--dark-background-first);
  color: var(--dark-text-color);

  .title {
    color: var(--dark-title-color);
  }

  .overview {
    @extend .section;

    gap: 3rem;

    .text-bold {
      font-weight: 600;
    }
  }

  .user-story {
    @extend .section;
    @extend .paragraph-gap-0;

    grid-column: span 3;
    padding: 5rem 0;
    background: var(--dark-background-second);
    align-items: center;
    width: 100%;

    .stories {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 4.875rem 10rem;
      max-width: -webkit-fill-available;

      * {
        flex: 1;
        width: 100%;
        height: fit-content;
      }

      ::ng-deep svg {
        border-radius: 0.5rem;
        vertical-align: top;
      }
    }
  }

  .research-personas {
    @extend .section;

    gap: 8.25rem;

    .research {
      .paragraph {
        @extend .paragraph-gap-2;

        align-self: flex-start;

        .questions {
          @extend .text-bold;

          color: var(--dark-title-color);
        }

        .question {
          @include left-border(--dark-blue, 0.5rem);
        }
      }
    }

    .personas-section {
      @extend .section;

      gap: 1.5rem;

      .personas {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        .persona {
          @extend .paragraph-gap-3;

          background-color: var(--dark-card-background);
          border: 1px var(--dark-border) solid;
          border-radius: 0.5rem;
          padding: 1.5rem;
          flex: 1;

          .header {
            flex-direction: row;
            gap: 1rem;

            .title {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }

          .content::after {
            content: "";
            display: flex;
            height: 1.6rem;
            visibility: visible;
          }

          .chip-title-blue {
            @include chip(--dark-blue);
          }

          .chip-title-red {
            @include chip(--dark-red);
          }
        }
      }
    }
  }

  .wireframe {
    @extend .section;

    grid-column: span 3;
    gap: 5rem;
    background-color: var(--dark-background-second);
    padding: 5rem 0;
    text-align: center;
    width: 100%;

    .content {
      @extend .paragraph-gap-3;

      .header {
        @extend .paragraph-gap-2;

        font-size: 1rem;
        font-weight: 400;
      }

      .principles {
        display: flex;
        align-self: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        .principle {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          &::after {
            content: "";
            background: var(--text-color);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
          }
        }
      }
    }

    .images {
      display: flex;
      gap: 2rem;
      align-self: center;

      * {
        width: 100%;
      }
    }
  }

  .problem-solutions {
    @extend .section;

    grid-column: span 3;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    width: 100%;

    .mobile-order {
      display: flex;
      gap: 4rem;

      .para {
        @extend .paragraph-gap-2;

        gap: 1.5rem;
        padding-left: 1.25rem;
        direction: ltr;

        .para {
          @extend .paragraph-gap-2;

          width: max-content;
          gap: 1rem;

          .colored-text {
            @extend .text-bold;

            color: var(--dark-title-color);
          }

          ul {
            @extend .paragraph-gap-1;

            margin: 0rem;
          }
        }

        .problem {
          @include left-border(--dark-red);

          color: var(--dark-title-color);
        }

        .solution {
          @include left-border(--dark-green);

          align-self: flex-start;
          color: var(--dark-title-color);
        }
      }
    }

    .images {
      display: flex;
      gap: 2.5rem;

      * {
        width: 100%;
      }
    }
  }

  .dashboard {
    direction: rtl;
    padding: 8.25rem 0;
    background-color: var(--dark-background-second);
  }

  .usability-testing {
    @extend .section;
    @extend .paragraph-gap-3;

    .cards {
      display: flex;
      gap: 1.5rem;
    }

    .card {
      @extend .paragraph-gap-2;

      background-color: var(--dark-card-background);
      border: 1px var(--dark-border) solid;
      border-radius: 0.5rem;
      padding: 1.5rem;
      width: -webkit-fill-available;

      .chip-title {
        @include chip(--dark-blue);

        align-items: center;
      }

      .text-bold {
        font-weight: 600;
      }
    }
  }

  .overview-img {
    display: flex;
    gap: 2rem;
    grid-column: span 3;
    justify-content: center;
    background-color: var(--dark-background-second);

    .overview-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

::ng-deep.loading {
  background-color: var(--dark-background-first);
}

@media (max-width: 600px) {
  :host {
    --swiper-pagination-bullet-inactive-color: var(--dot-color);
    --swiper-pagination-color: var(--selected-dot-color);
  }

  .threats {
    .user-story {
      padding: 2.5rem 1.5rem;
      gap: 2.5rem;
      width: -webkit-fill-available;
    }

    .research-personas {
      gap: 4rem;
      width: -webkit-fill-available;

      .personas-section {
        padding: 0;
        width: -webkit-fill-available;

        .personas-slider {
          width: 100%;
        }
      }
    }

    .wireframe {
      width: auto;
      padding: 2.5rem 1.5rem;
      text-align: left;
      gap: 2.5rem;

      .principles {
        .principle {
          direction: rtl;
        }

        :last-child {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          direction: rtl;

          &::after {
            content: "";
            background: var(--text-color);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
          }
        }
      }

      .images {
        flex-wrap: wrap;
      }
    }

    .problem-solutions {
      padding: 0 1.5rem;
      width: auto;
      flex-direction: column;
      gap: 2.5rem;

      .mobile-order {
        flex-direction: column-reverse;
        gap: 2.5rem;

        .para {
          padding-left: 0;

          .para {
            width: auto;
          }
        }
      }
    }

    .dashboard {
      padding: 2.5rem 1.5rem;
      flex-direction: column;
      direction: ltr;
    }

    .usability-testing {
      .cards {
        flex-wrap: wrap;
      }
    }

    .overview-img {
      gap: 1rem;
      padding: 0 1.5rem;

      .overview-column {
        gap: 1rem;
        min-width: 0;
      }
    }
  }
}
