@import "../../../styles.scss";

.personas {
  @extend .paragraph-gap-3;

  align-items: center;

  .persona {
    @extend .paragraph-gap-2;

    border: 1px var(--border-color-second) solid;
    border-radius: 0.5rem;

    img {
      width: 100%;
    }

    .person-info {
      @extend .paragraph-gap-2;

      padding: 0 1.5rem 1.5rem 1.5rem;
      width: fit-content;

      .person {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .bold {
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
  }

  .dots {
    display: flex;
    gap: 0.5rem;

    .dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 100%;
      background-color: var(--dot-color);
    }

    .selected-dot {
      background-color: var(--selected-dot-color);
    }
  }
}
