<div class="personas">
  <swiper-container pagination="true" pagination-clickable="true">
    @for (person of personas; track person.header; let index = $index) {
    <swiper-slide>
      <div class="persona">
        <div><img src="{{ person.image }}" /></div>
        <div class="person-info">
          <span class="person">{{ person.header }}</span>
          <span>
            {{ person.info }}
          </span>
          <span
            ><span class="bold">Needs & expectations:</span> <br />{{
              person.needs
            }}
          </span>
          <span><span class="bold">Goals:</span> {{ person.goals }} </span>
          <span
            ><span class="bold">Frustrations:</span> <br />{{
              person.frustrations
            }}
          </span>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
