@import "../../../styles.scss";

.personas {
  @extend .paragraph-gap-3;

  align-items: center;

  swiper-container {
    width: 100%;

    &::part(pagination) {
      display: flex;
      gap: 0.5rem;
      position: static;
      padding-top: 2.5rem;
      justify-content: center;
    }

    swiper-slide {
      .persona {
        @extend .paragraph-gap-2;

        border: 1px var(--border-color-second) solid;
        border-radius: 0.5rem;
        min-height: 31.5rem;

        img {
          width: 100%;
        }

        .person-info {
          @extend .paragraph-gap-2;

          padding: 0 1.5rem 1.5rem 1.5rem;
          width: fit-content;

          .person {
            font-size: 1.5rem;
            font-weight: 600;
          }

          .bold {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
