@import "../../styles.scss";

.image-slider {
  @extend .paragraph-gap-5;

  align-items: center;

  swiper-container {
    width: 100%;
    &::part(pagination) {
      display: flex;
      gap: 0.5rem;
      position: static;
      padding-top: 2.5rem;
      justify-content: center;
    }

    swiper-slide {
      @extend .paragraph-gap-2;

      align-items: center;
      width: 100% !important;

      img {
        width: 100%;
      }

      .text {
        height: 2.5rem;
      }

      ::ng-deep svg {
        border-radius: 0.5rem;
        vertical-align: top;
      }
    }
  }
}
