<div class="dialog">
  <img class="close" (click)="close()" src="../../assets/icons/close.svg" />
  <img src="../../assets/icons/protected.svg" />
  <div class="content">
    <span class="title">Password Protected</span>
    <span class="sub-title">Enter the password to acces this case study</span>
  </div>
  <form class="form" [formGroup]="form" (submit)="submit()">
    <input
      class="password"
      type="password"
      formControlName="password"
      [class.invalid]="form.invalid && password.touched && password.dirty"
    />
    <button
      class="submit"
      type="submit"
      [disabled]="!form.valid"
      [class.disable]="form.invalid"
    >
      Submit
    </button>
  </form>
</div>
