@import "../../styles.scss";

.explore {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;

  .back-to-home {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    left: 13.75rem;
    cursor: pointer;
    height: fit-content;
    align-items: center;
    font-weight: 500;
  }

  .paragraph-gap-3 {
    align-items: center;

    .navigation {
      display: flex;
      gap: 1.5rem;

      .navigate {
        background-color: var(--card-background);
        border: 1px solid var(--border-color-first);
        border-radius: 0.5rem;
        padding: 0.8rem;
        width: 11.375rem;
        font-family: Inter;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .explore {
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 0 1.5rem;

    .back-to-home {
      position: unset;
      align-self: center;
    }

    .navigation {
      width: 100%;
    }
  }
}
