@import "../../styles.scss";

.pharm-yarok {
  .overview {
    @extend .section;

    gap: 3rem;
  }

  .user-story {
    @extend .section;

    grid-column: span 3;
    flex-direction: row;
    gap: 1.5rem;
    padding: 4.875rem 2.5rem;
    background: var(--green-background);

    * {
      width: 100%;
      flex: 1;
      height: fit-content;
    }
  }

  .research {
    @extend .section;

    .paragraph {
      @extend .paragraph-gap-2;

      align-self: flex-start;
    }

    .questions {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
    }

    .problems {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;

      .content {
        flex-direction: row;
      }
    }

    .card {
      @extend .paragraph-gap-1;

      flex: 1 1 auto;
      border: 1px var(--border-color-second) solid;
      border-radius: 0.5rem;
      padding: 1rem;
      background: var(--card-background);

      .chip-title-blue {
        @include chip(--blue);
      }

      .chip-title-red {
        @include chip(--red);
      }

      .chip-title-green {
        @include chip(--green);
      }

      .content {
        @extend .paragraph-gap-1;
      }

      .no-gap {
        gap: 0;
      }
    }
  }

  .personas {
    @extend .section;

    gap: 1.5rem;
    width: fit-content;

    .personas {
      display: flex;
      flex-direction: row;
      width: 100%;

      .persona {
        @extend .paragraph-gap-2;

        border: 1px var(--border-color-second) solid;
        border-radius: 0.5rem;

        .person-info {
          @extend .paragraph-gap-2;

          padding: 0 1.5rem 1.5rem 1.5rem;
          width: fit-content;

          .person {
            font-size: 1.5rem;
            font-weight: 600;
          }

          .bold {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
      }

      * {
        width: 100%;
      }
    }
  }

  .sections {
    @extend .section;
    gap: 8.25rem;

    .sub-title {
      font-size: 1.25rem;
    }
  }

  .wireframe {
    @extend .section;

    grid-column: span 3;
    width: 100%;
    margin-top: -6.75rem;

    .images {
      display: flex;
      gap: 5.625rem;
      background: var(--wireframe-background);
      justify-content: center;
      padding: 3rem 0;

      .image {
        @extend .paragraph-gap-2;

        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        width: fit-content;

        .scroll-image {
          position: relative;

          .frame {
            position: relative;
          }

          .content {
            position: absolute;
            top: 0;
            margin: 0.5rem 0 0.8rem 0.5rem;
            overflow-y: auto;
            border-radius: 1.25rem;
            height: -webkit-fill-available;
            width: 14.5rem;

            img {
              width: -webkit-fill-available;
            }
          }
        }
      }
    }
  }

  .problem-solutions {
    @extend .section;

    flex-direction: row;
    gap: 4.5rem;

    .sub-title {
      font-size: 1.25rem;
    }

    .title {
      line-height: 130%;
    }

    .mobile-order {
      display: flex;
      gap: 9.5rem;

      .para {
        @extend .paragraph-gap-3;

        .para {
          @extend .paragraph-gap-2;

          width: max-content;
          padding-left: 1.25rem;
        }

        .the-problem {
          @extend .paragraph-gap-1;

          padding-left: 1.25rem;
        }

        .problem {
          @include left-border(--red);
        }

        .solution {
          @include left-border(--green);

          align-self: flex-start;
        }
      }
    }

    .images {
      display: flex;
      gap: 2.5rem;

      * {
        width: 100%;
      }

      .scroll-image {
        position: relative;

        .frame {
          position: relative;
        }

        .content {
          position: absolute;
          top: 0;
          margin: 2.3rem 0.5rem 3.6rem 0.5rem;
          overflow-y: auto;
          border-radius: 1.25rem;
          height: -webkit-fill-available;
          width: -webkit-fill-available;
          max-width: 16.6rem;

          img {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }

  .order-tracking {
    direction: rtl;

    .para {
      direction: ltr;
    }

    .images {
      direction: ltr;
    }
  }

  .checkout-title {
    grid-column: 2;
  }

  .checkout {
    @extend .section;

    grid-column: span 3;
    gap: 1.5rem;
    margin-top: -6.75rem;

    .images {
      display: flex;
      gap: 5rem;
      background: var(--green);
      padding: 5.25rem 16.75rem;
      width: fit-content;
      max-width: 100%;

      * {
        max-width: 100%;
      }

      .scroll-image {
        position: relative;

        .frame {
          position: relative;
        }

        .content {
          position: absolute;
          top: 0;
          margin: 2.3rem 0.5rem 5rem 0.5rem;
          overflow-y: auto;
          border-radius: 1.25rem;
          height: -webkit-fill-available;
          width: -webkit-fill-available;
          max-width: 16.6rem;

          img {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }

  .overview-img {
    grid-column: span 3;
    width: 100%;
    content: url("../../assets/pharmYarok/py-overview.png");
  }

  .sub-title {
    @extend .sub-title;

    color: var(--gray-color);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 600px) {
  :host {
    --swiper-pagination-bullet-inactive-color: var(--border-color-first);
    --swiper-pagination-color: var(--selected-dot-color-py);
  }

  .pharm-yarok {
    .research {
      .problems {
        .card {
          .content {
            display: inline-block;
          }
        }
      }
    }

    .sub-title {
      font-size: 1rem;
    }

    .user-story {
      padding: 2.5rem 1.5rem;
      gap: 2.5rem;
      width: -webkit-fill-available;
    }

    .personas {
      padding: 0 1.5rem;
      width: -webkit-fill-available;

      .personas {
        padding: 0;
      }
    }

    .sections {
      gap: 4rem;

      .sub-title {
        font-size: 1rem;
      }
    }

    .wireframe {
      margin-top: 0;
      padding: 0;

      .images {
        gap: 0;
        padding: 3rem 1.5rem;

        .image {
          min-width: 0;

          div,
          img {
            width: -webkit-fill-available;
          }

          .scroll-image {
            .content {
              margin: 0.3rem 0 0.8rem 0.3rem;
              border-radius: 0.35rem;
              width: 8.4rem;
            }
          }
        }
      }
    }

    .problem-solutions {
      flex-direction: column;
      gap: 2.5rem;

      .sub-title {
        font-size: 1rem;
      }

      .mobile-order {
        flex-direction: column-reverse;
        gap: 2.5rem;

        .para {
          .para {
            width: auto;
          }
        }

        .images {
          gap: 1.25rem;
        }
      }
    }

    .checkout {
      padding: 0;
      margin-top: 0;

      .title {
        text-align: left;
        padding-left: 1.5rem;

        &::before {
          display: none;
        }
      }

      .images {
        flex-wrap: wrap;
        padding: 2.5rem 1.5rem;
        gap: 1.5rem;

        .scroll-image {
          .content {
            display: block;
            margin: 1rem 0.3rem 2.5rem 0.3rem;
          }
        }

        div {
          display: flex;
          flex: 1 1 30%;
          min-width: 0;
        }
      }
    }

    .order-tracking {
      direction: ltr;

      .scroll-image {
        .content {
          margin: 1rem 0.3rem 2.3rem 0.3rem !important;
          border-radius: 0.35rem !important;
        }
      }
    }

    .overview-img {
      content: url("../../assets/pharmYarok/py-overview-mobile.png");
    }
  }
}
