@import "../../styles.scss";

.pharm-yarok {
  display: flex;
  flex-direction: column;
  gap: 8.25rem;

  .header {
    @extend .paragraph-gap-0;

    align-items: center;

    .header {
      position: absolute;
      color: var(--card-background);

      ::ng-deep .link {
        color: var(--card-background);
      }
    }

    .image {
      width: 100%;
    }
  }

  .overview {
    @extend .section;

    gap: 3rem;
  }

  .user-story {
    @extend .section;

    flex-direction: row;
    gap: 1.5rem;
    padding: 4.875rem 10rem;
    max-width: -webkit-fill-available;
    background: var(--green-background);
  }

  .research {
    @extend .section;

    padding-right: 25rem;

    .paragraph {
      @extend .paragraph-gap-2;

      align-self: flex-start;
    }

    .questions {
      display: flex;
      gap: 1.5rem;

      .answer {
        @include left-border(--blue, 0.5rem);
      }

      .filler::after {
        content: "";
        display: flex;
        height: 2.5rem;
        visibility: visible;
      }
    }

    .problems {
      display: flex;
      gap: 1.5rem;

      .content {
        flex-direction: row;
      }
    }

    .card {
      @extend .paragraph-gap-1;

      flex: 1;
      border: 1px var(--border-color-second) solid;
      border-radius: 0.5rem;
      padding: 1rem;
      background: var(--card-background);

      .chip-title-blue {
        @include chip(--blue);
      }

      .chip-title-red {
        @include chip(--red);
      }

      .chip-title-green {
        @include chip(--green);
      }

      .content {
        @extend .paragraph-gap-1;
      }
    }
  }

  .personas {
    @extend .section;

    gap: 1.5rem;

    .personas {
      display: flex;
      flex-direction: row;
      width: min-content;
      margin-left: -25rem;

      .persona {
        @extend .paragraph-gap-2;

        border: 1px var(--border-color-second) solid;
        border-radius: 0.5rem;

        .person-info {
          @extend .paragraph-gap-2;

          padding: 0 1.5rem 1.5rem 1.5rem;

          .person {
            font-size: 1.5rem;
            font-weight: 600;
          }

          .bold {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .wireframe {
    @extend .section;

    gap: 1.5rem;

    .images {
      display: flex;
      gap: 5.625rem;
      background: var(--wireframe-background);
      margin-left: -25rem;
      justify-content: center;
      padding: 3rem 0;

      .image {
        @extend .paragraph-gap-2;

        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        width: fit-content;
      }
    }
  }

  .problem-solutions {
    @extend .section;

    flex-direction: row;
    gap: 4.5rem;

    .para {
      @extend .paragraph-gap-2;

      gap: 1.5rem;

      .para {
        @extend .paragraph-gap-2;

        width: max-content;
        gap: 1rem;
      }

      .problem {
        @include left-border(--red);
      }

      .solution {
        @include left-border(--green);

        align-self: flex-start;
      }
    }

    .images {
      display: flex;
      gap: 2.5rem;
    }
  }

  .checkout {
    @extend .section;

    gap: 1.5rem;

    .images {
      display: flex;
      gap: 5rem;
      margin-left: -25rem;
      background: var(--green);
      padding: 5.25rem 16.75rem;
    }
  }

  .sub-title {
    @extend .sub-title;

    color: var(--gray-color);
  }
}
