:root {
  --text-color: #4f4f4f;
  --sub-title-color: #313131;
  --blue: #6584e2;
  --blue-background: #f3f6ff;
  --green: #5d9087;
  --green-background: #ebf8f5;
  --red: #b26767;
  --red-background: #fff3f3;
  --border-color-first: #e7e7e7;
  --border-color-second: #e2e2e2;
  --title-gradient-start: #3d87f6;
  --title-gradient-end: #a53df6;
  --header-hover: #7c59f6;
  --wireframe-background: #f9f9f9;
  --card-background: #ffffff;
  --gray-color: #8c8b8b;
}
