@mixin left-border($color, $padding: 1rem) {
  border-left: 4px var($color) solid;
  padding-left: $padding;
}

@mixin chip($color) {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  height: 1.75rem;
  color: var($color);
  background: var($color + "-background");
  border-radius: 3.125rem;
  padding: 0 0.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

@mixin paragraph {
  @for $i from 0 through 4 {
    $gapValue: $i * 0.5;

    .paragraph-gap-#{$i} {
      display: flex;
      flex-direction: column;
      gap: unquote($gapValue + "rem");
    }
  }
}
