@import "../../styles.scss";

.home {
  @extend .paragraph-gap-0;

  width: 100%;
  align-items: center;
  gap: 10rem;

  .header {
    @extend .paragraph-gap-3;

    align-items: center;

    .photo {
      width: 8rem;
      height: 8rem;
    }

    .intro {
      @extend .paragraph-gap-0;

      text-align: center;
      gap: 0.75rem;

      .header {
        @extend .header;

        background: linear-gradient(
          90deg,
          var(--title-gradient-start),
          var(--title-gradient-end)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .sentence {
        @extend .sub-title;

        color: var(--sub-title-color);
      }
    }
  }

  .projects {
    @extend .paragraph-gap-0;

    align-items: center;
    gap: 5rem;
    margin: 0 22.5rem;

    .project {
      cursor: pointer;

      :last-child {
        display: none;
      }

      :first-child:hover {
        display: none;

        + :last-child {
          display: inline;
        }
      }
    }
  }

  .about {
    display: flex;
    width: -webkit-fill-available;
    background-image: url("../../assets/background.svg");
    background-position: center;
    gap: 2.75rem;
    padding: 10.125rem 0;
    justify-content: center;

    .card {
      @extend .paragraph-gap-3;

      border: 2px var(--border-color-first) solid;
      border-radius: 1.25rem;
      padding: 3.5rem;
      background: var(--card-background);

      .title {
        display: flex;
        gap: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
      }

      .content {
        @extend .paragraph-gap-3;

        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;

        .bold {
          font-weight: 600;
        }
      }
    }
  }

  .footer {
    width: 100%;
  }
}
