@import "../../styles.scss";

.home {
  @extend .paragraph-gap-0;

  align-items: center;
  gap: 10rem;

  .mobile-padding {
    @extend .paragraph-gap-0;

    gap: 10rem;
    align-items: center;
    width: 100%;

    ::ng-deep.link {
      color: var(--text-color);
    }
  }

  .hadas {
    @extend .paragraph-gap-3;

    align-items: center;

    .photo {
      width: 8rem;
      height: 8rem;
    }

    .intro {
      @extend .paragraph-gap-0;

      text-align: center;
      gap: 0.75rem;

      .header {
        @extend .header;

        background: linear-gradient(
          90deg,
          var(--title-gradient-start),
          var(--title-gradient-end)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .sentence {
        @extend .sub-title;

        font-size: 1.75rem;
        line-height: 160%;
      }

      .about-me {
        display: flex;
        background: var(--about-me-background);
        border: 1px var(--border-color-first) solid;
        border-radius: 1rem;
        margin-top: 1.75rem;
        padding: 2rem 1rem;

        .about-section {
          @extend .paragraph-gap-2;

          font-size: 1.125rem;
          font-weight: 600;
          align-items: center;
          padding: 0 3.5rem;

          img {
            width: fit-content;
          }
        }
      }
    }
  }

  .projects {
    display: flex;
    width: -webkit-fill-available;
    background-image: url("../../assets/background.png");
    background-position: center;
    gap: 2rem;
    padding: 4rem 0;
    justify-content: center;
    flex-wrap: wrap;

    .project {
      @extend .paragraph-gap-3;

      cursor: pointer;
      border: 1px var(--border-color-first) solid;
      border-radius: 1rem;
      padding: 1rem 1rem 2rem 1rem;
      background: var(--card-background);

      img {
        width: 100%;
      }

      .info {
        @extend .paragraph-gap-0;

        align-items: center;

        .title {
          font-size: 2rem;
          font-weight: 700;
          color: var(--sub-title-color);
        }

        .sub-title {
          font-size: 1.125rem;
          font-weight: 500;
          margin: 0.25rem 0 1rem 0;
        }

        .chips {
          display: flex;
          gap: 0.75rem;

          .chip-blue {
            @include chip(--chip-blue);
          }

          .chip-orange {
            @include chip(--chip-orange);
          }

          .chip-green {
            @include chip(--chip-green);
          }

          .chip-gray {
            @include chip(--chip-gray);
          }
        }
      }
    }
  }

  .beyond {
    @extend .paragraph-gap-0;

    width: 100%;
    padding: 10rem 0;
    background: var(--sub-title-color);
    gap: 3.75rem;
    align-items: center;

    .title {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .header {
        color: var(--header-color);
      }
    }

    .cards {
      display: flex;
      gap: 3.75rem;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .card {
        @extend .paragraph-gap-0;

        background: var(--text-color);
        border-radius: 1rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;

        background-image: url("../../assets/icons/question-mark.svg");
        background-repeat: no-repeat;
        background-position: 50% 40%;
        transition: ease-in-out 0.3s;

        .text {
          font-size: 1.125rem;
          font-weight: 600;
          color: var(--dark-text-color);
          margin-top: 5rem;
        }

        &:hover .text {
          display: none;
        }
      }

      .small-card {
        max-width: 28.75rem;
        height: 18.75rem;
      }

      .big-card {
        max-width: 42.5rem;
        height: 18.75rem;
      }

      .pancakes:hover {
        background-image: url("../../assets/home/pancakes.png");
      }

      .workout:hover {
        background-image: url("../../assets/home/workout.png");
      }

      .movie:hover {
        background-image: url("../../assets/home/movie.png");
      }

      .baking:hover {
        background-image: url("../../assets/home/baking.png");
      }
    }
  }

  .hide-on-mobile {
    display: inline-block !important;
  }
}

@media (max-width: 600px) {
  .home {
    gap: 2.5rem;

    .mobile-padding {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1.5rem 1.5rem 0 1.5rem;
      width: auto;

      ::ng-deep.menu-position {
        margin-top: -1.5rem;
      }

      ::ng-deep.menu-btn {
        content: url("../../assets/icons/menu.svg") !important;
      }
    }

    .hadas {
      .intro {
        .header {
          font-size: 2.5rem;
        }

        .sub-title {
          font-size: 1.25rem;
        }

        .sentence {
          font-size: 1.25rem;
          padding: 0;
          line-height: 165%;

          .hide-on-mobile {
            display: none !important;
          }
        }

        .about-me {
          flex-direction: column;
          flex-wrap: wrap;
          gap: 0;

          .about-section {
            padding: 0;
          }

          .divider {
            margin: 2rem 4rem;
          }
        }
      }
    }

    .projects {
      .project {
        .info {
          .title {
            font-size: 1.25rem;
          }

          .sub-title,
          .chips {
            font-size: 0.875rem;
          }
        }
      }
    }

    .beyond {
      gap: 2.5rem;
      padding: 5rem 1.5rem;

      .title {
        .header {
          font-size: 2.5rem;
        }
      }

      .cards {
        gap: 2.5rem;

        .pancakes:hover {
          background-image: url("../../assets/home/pancakes-mobile.png");
        }

        .workout:hover {
          background-image: url("../../assets/home/workout-mobile.png");
        }

        .movie:hover {
          background-image: url("../../assets/home/movie-mobile.png");
        }

        .baking:hover {
          background-image: url("../../assets/home/baking-mobile.png");
        }
      }
    }
  }

  .show-on-mobile {
    display: inline-block !important;
  }
}
