<div class="home">
  <app-header [selectedLink]="'home'" class="app-header"></app-header>

  <div class="header">
    <img class="photo" src="../../assets/hadas.svg" />
    <div class="intro">
      <span class="header">Hi, I'm Hadas</span>
      <span class="sub-title">Product Designer</span>
      <span class="sentence"
        >I design systems that make a difference for the Israeli Navy</span
      >
    </div>
  </div>

  <div class="projects">
    <span (click)="goto('threats')" class="project">
      <img src="../../assets/threat.svg" />
      <img src="../../assets/threat-hover.svg" />
    </span>
    <span (click)="goto('pharm-yarok')" class="project">
      <img src="../../assets/pharmYarok.svg" />
      <img src="../../assets/pharmYarok-hover.svg" />
    </span>
  </div>

  <div id="about" class="about">
    <span class="card">
      <span class="title">About me</span>
      <span class="content content-padding">
        <span>
          I am a driven, passionate, and eager designer, with 3 years of
          experience.
        </span>
        <span>
          <span class="bold">I currently work for the Israeli Navy</span> where
          I specialize in complex systems <br />
          which is a true passion of mine. I enjoy collaborating with other
          designers <br />
          and developers and learning from them.</span
        >
        <span
          >I'm also a 2nd year
          <span class="bold"> psychology student at the Open University.</span
          ><br />
          The knowledge I gain in my studies helps tremendously to understand
          human <br />
          behavior and its flaws and allows me to create better user
          experiences.</span
        >
      </span>
    </span>
    <span class="card">
      <span class="title"
        >Fun Facts <img class="stars" src="../../assets/icons/stars.svg"
      /></span>
      <span class="content">
        <span>Favorite food: <span class="text-bold">Pancakes.</span></span>
        <span
          >Hobbies:
          <span class="text-bold"
            >working out, baking & making textured art.</span
          ></span
        >
        <span
          >TV genres:
          <span class="text-bold">sitcoms, fantasies and dramas.</span></span
        >
        <span>Currently learning: <span class="text-bold">Spanish.</span></span>
      </span>
    </span>
  </div>

  <app-footer class="footer"></app-footer>
</div>

<app-scroll-to-top></app-scroll-to-top>
