@import "../../styles.scss";

.home {
  @extend .paragraph-gap-0;

  align-items: center;
  gap: 10rem;

  .mobile-padding {
    @extend .paragraph-gap-0;

    gap: 10rem;
    align-items: center;
    width: 100%;

    ::ng-deep.link {
      color: var(--text-color);
    }
  }

  .hadas {
    @extend .paragraph-gap-3;

    align-items: center;

    .photo {
      width: 8rem;
      height: 8rem;
    }

    .intro {
      @extend .paragraph-gap-0;

      text-align: center;
      gap: 0.75rem;

      .header {
        @extend .header;

        background: linear-gradient(
          90deg,
          var(--title-gradient-start),
          var(--title-gradient-end)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .sentence {
        @extend .sub-title;

        padding-top: 0.5rem;
        color: var(--sub-title-color);
      }
    }
  }

  .projects {
    @extend .paragraph-gap-0;

    align-items: center;
    gap: 5rem;

    .profiles {
      width: 100%;
      height: auto;
      cursor: pointer;
      content: url("../../assets/profiles.svg");

      &::after {
        content: url("../../assets/profiles-hover.svg");
        visibility: hidden;
      }

      &:hover {
        content: url("../../assets/profiles-hover.svg");
      }
    }

    .threats {
      width: 100%;
      height: auto;
      cursor: pointer;
      content: url("../../assets/threat.svg");

      &::after {
        content: url("../../assets/threat-hover.svg");
        visibility: hidden;
      }

      &:hover {
        content: url("../../assets/threat-hover.svg");
      }
    }

    .pharm-yarok {
      width: 100%;
      height: auto;
      cursor: pointer;
      content: url("../../assets/pharmYarok.svg");

      &::after {
        content: url("../../assets/pharmYarok-hover.svg");
        visibility: hidden;
      }

      &:hover {
        content: url("../../assets/pharmYarok-hover.svg");
      }
    }
  }

  .about {
    display: flex;
    width: 100%;
    background-image: url("../../assets/background.svg");
    background-position: center;
    gap: 3.5rem;
    padding: 10.125rem 0;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      @extend .paragraph-gap-3;

      max-width: fit-content;
      border: 2px var(--border-color-first) solid;
      border-radius: 0.5rem;
      padding: 3.5rem;
      background: var(--card-background);
      flex: 1 1 auto;

      .title {
        display: flex;
        gap: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
      }

      .content {
        @extend .paragraph-gap-3;

        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;

        .bold {
          font-weight: 600;
        }
      }

      .content-padding {
        padding-right: 1.688rem;
      }
    }
  }

  .hide-on-mobile {
    display: inline-block !important;
  }
}

@media (max-width: 600px) {
  .home {
    gap: 2.5rem;

    .mobile-padding {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1.5rem;
      width: auto;

      ::ng-deep.menu-position {
        margin-top: -1.5rem;
      }

      ::ng-deep.menu-btn {
        content: url("../../assets/icons/menu.svg") !important;
      }
    }

    .hadas {
      .intro {
        .header {
          font-size: 2.5rem;
        }

        .sub-title {
          font-size: 1.25rem;
        }

        .sentence {
          font-size: 1.25rem;
          padding: 0;
          line-height: 165%;
        }
      }
    }

    .projects {
      gap: 2rem;

      .profiles {
        content: url("../../assets/profiles-mobile.svg");
      }

      .threats {
        content: url("../../assets/threat-mobile.svg");
      }

      .pharm-yarok {
        content: url("../../assets/pharmYarok-mobile.svg");
      }
    }

    .about {
      gap: 2rem;
      padding: 0;
      background-image: none;

      .card {
        padding: 1rem;
        gap: 1rem;
        max-width: none;
        border-width: 1px;

        .title {
          font-size: 1.25rem;
          gap: 0.5rem;

          .stars {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        .content {
          font-size: 1rem;
          gap: 1rem;

          .hide-on-mobile {
            display: none !important;
          }
        }

        .content-padding {
          padding: 0;
        }
      }
    }
  }

  .show-on-mobile {
    display: inline-block !important;
  }
}
