@import "../../../styles.scss";

.personas {
  @extend .paragraph-gap-3;

  align-items: center;

  swiper-container {
    width: 100%;

    &::part(pagination) {
      position: static;
      padding-top: 2.5rem;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &::part(bullet) {
      margin: 0;
      opacity: 1;
      background-color: var(--dot-color);
    }

    &::part(bullet-active) {
      margin: 0;
      background-color: var(--selected-dot-color);
    }

    swiper-slide {
      .persona {
        @extend .paragraph-gap-3;

        background-color: var(--dark-card-background);
        border: 1px var(--dark-border) solid;
        border-radius: 0.5rem;
        padding: 1.5rem;
        height: 25.625rem;

        .header {
          display: flex;
          flex-direction: row;
          gap: 1rem;

          .title {
            font-size: 1.25rem;
            font-weight: 600;
          }
        }

        .content::after {
          content: "";
          display: flex;
          height: 1.25rem;
        }

        .chip-title-blue {
          @include chip(--dark-blue);
        }

        .chip-title-red {
          @include chip(--dark-red);
        }
      }
    }
  }
}
