<div class="personas">
  <swiper-container pagination="true" pagination-clickable="true">
    @for (person of personas; track person.header; let index = $index) {
    <swiper-slide>
      <div class="persona">
        <div class="paragraph-gap-1">
          <span class="header">
            <span class="title">{{ person.header }}</span>
            <img src="{{ person.image }}" />
          </span>
          <span>
            {{ person.info }}
          </span>
        </div>
        <span class="paragraph-gap-1">
          <span class="chip-title-blue">needs</span>
          <span class="content">{{ person.needs }}</span>
        </span>
        <span class="paragraph-gap-1">
          <span class="chip-title-red">Pain Point</span>
          {{ person.painPoint }}
        </span>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
